{% extends "base.html.twig" %}

{% block title %}Connexion • Yellow{% endblock %}

{% block body %}
	<style></style>
	<div class="container-fluid">
		<h1>Connexion</h1>
		{{form(form)}}
		<p>
			Vous n'avez pas encore de compte ?
			<a href="{{path('signup')}}">Inscrivez-vous</a>
		</p>
	</div>
	<script>
		const form = document.querySelector("form[name='login_form']");
		form.addEventListener("submit", e => {
			e.preventDefault();
			// Form check-up
		})
	</script>
{% endblock %}