{% extends "base.html.twig" %}

{% block title %}Inscription • Yellow{% endblock %}

{% block body %}
	<style></style>
	<div class="container-fluid">
		<h1>Inscription</h1>
		{{form(form)}}
		<p>
			Vous avez déjà un compte ?
			<a href="{{path('login')}}">Connectez-vous</a>
		</p>
	</div>
{% endblock %}