{% extends "base.html.twig" %}

{% block title %}Modification des données personnelles{% endblock %}
{% block body %}

	<link rel="stylesheet" href="/css/form.css">

	<main>
		<h1>Modification des données personnelles</h1>
		{{form(form_customer)}}
	</main>
{% endblock %}