{% extends "base.html.twig" %}

{% block title %}Options du compte • Yellow{% endblock %}
{% block body %}
	<link rel="stylesheet" href="/css/account.css">
	<main>
		<h1>Session de {{customer.customerFirstName}} {{customer.customerLastName}}</h1>

		<section>
		<h3>Vos informations personnelles</h3>
		</section>

		<section>
		<h3>Historique des commandes</h3>
		</section>


		<a href="{{path('disconnect')}}" class="disconnect">
			<ion-icon name="exit-outline"></ion-icon>
			Se déconnecter
		</a>
	</main>
{% endblock %}