{% extends "base.html.twig" %}

{% block title %}Options du compte • Yellow{% endblock %}
{% block body %}
	<link rel="stylesheet" href="/css/account.css">
	<main>
		<h1>{{account.first_name}} {{account.last_name}}</h1>
		<a href="{{path('disconnect')}}" class="disconnect">
			<ion-icon name="exit-outline"></ion-icon>
			Se déconnecter
		</a>
	</main>
{% endblock %}