{% extends "base.html.twig" %}

{% block title %}Options d'administration • Yellow{% endblock %}
{% block body %}
	<link rel="stylesheet" href="/css/admin.css">
	<main>
		<h1>Options d'administration</h1>
		<ul class="settings-list">
			<li>
				<a href="{{path('manageProduct')}}">Gestion des produits</a>
			</li>
			<li>
				<a href="{{path('manageCustomer')}}">Gestion des clients</a>
			</li>
			<li>
				<a href="{{path('manageOrder')}}">Gestion des commandes</a>
			</li>
		</ul>
	</main>
{% endblock %}