{% extends "base.html.twig" %}

{% block title %}Modification du compte • Yellow{% endblock %}
{% block body %}
	<link rel="stylesheet" href="/css/form.css">
	<main>
		<h1>Modification du compte</h1>
		{{form(form_customer)}}
	</main>
{% endblock %}