{% extends "base.html.twig" %}

{% block title %}Compte • Yellow{% endblock %}
{% block body %}
	<main>
		<h1>Options du compte</h1>
		<a href="{{path('disconnect')}}">Se déconnecter</a>
	</main>
{% endblock %}