{% extends "base.html.twig" %}

{% block title %}Yellow : bienvenue dans l'univers des mangas{% endblock %}

{% block body %}
	<link rel="stylesheet" href="/css/catalog.css">

	<style>
		html {box-sizing: border-box}
		body{background-color: #fff;}
		.banner {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 300px;
			background: url(images/banner.jpg) center no-repeat;
			background-size: cover
		}
		.button-accueil {
			display: inline-block;
			padding: 10px 30px;
			border-radius: 10px;
			background-color: var(--primary);
			color: #fff;
			transition-duration: 0.5s
		}
		.searchbar {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 40px;
			margin-bottom: 40px;
		}
		.search-form {
			width: 30%;
			position: relative;
			border-radius: 10px
		}
		.search-input, .btn-search {
			height: 80px;
			border: 0;
			color: #000
		}
		.search-input {
			width: 100%;
			padding: 0 25px;
			position: relative;
			outline: 0;
			border-radius: 10px;
			background-color: lightgrey;
			transition-duration: 0.5s
		}
		.btn-search {
			display: none;
			width: 100px;
			position: absolute;
			top: 0;
			right: 0;
			border-radius: 0 10px 10px 0;
			font-weight: bold;
			background-color: var(--primary)
		}
		.search-input:not(:placeholder-shown) {
			width: calc(100% - 100px);
			border-radius: 10px 0 0 10px
		}
		.search-input:not(:placeholder-shown) + .btn-search {display: block}

		.bs-cadre {
			padding: 5px;
			background-color: var(--primary)
		}
		.best-seller {
			margin: 5px;
			background-color: #fff;
		}
		.flex {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
		}
		.cover {width: 150px;}

		.text-center {text-align: center}

		.hr {
			align-items: center;
			display: flex;
			text-align: center;
			padding: 20px 0 20px 0;
			color: gray;
		}
		.hr::before, .hr::after {
			border-top: 0.1em solid;
			color: gray;
			content: "";
			flex: 1;
			margin: 0 3em;
		}
		.soldes {
			margin-top: 90px;
			margin-bottom: 90px;
			position: relative;
			display: flex;
			align-items: center;
		}
		.texte-soldes {
			border: 3px solid var(--primary);
			padding: 150px 7vw 150px 4vw;
			width: 35vw;
			margin-left: 10%;
			z-index: 1;
		}
		.texte-soldes h1 {
			margin-bottom: 40px;
		}
		.texte-soldes p {
			font-size: 20px;
		}
		.produits-soldes {
			width: 50vw;
			padding: 50px 5vw 50px 5vw;
			position: absolute;
			right: 0;
			margin-right:10%;
			border-radius: 10px;
    		background: linear-gradient(#ffce0059,#2222228f);
		}
		.cover-soldes {width: 110px}

		.margin {margin-left: 5vw}

		.product {margin-bottom: 35px;}

		.size{width: 150px;
			height: 200px;
		}

		@media (max-width: 800px) {
			.search-form {width: 85%;}

			.hr::before, .hr::after {
				border-top:0;
				margin:0 0;
			}
			.bs-produit {
				display: block;
				text-align: center;
			}

			.soldes {
				display: block;
				position: static;
			}
			.produits-soldes {
				position: static;
				margin: auto;
				margin-top: 50px;
				width: 80vw;
			}
			.texte-soldes {
				margin: auto;
				width: 80vw;
				padding-top: 80px;
				padding-bottom: 80px;
			}
			.searchbar {
				margin-top: 50px;
				margin-bottom: 50px;
			}
		}


	</style>
	<div class="banner">
		<a href="{{path('catalog', {category: 'all'})}}">
			<span class="button-accueil">Consulter notre catalogue de manga</span>
		</a>
	</div>
	<div class="searchbar">
		<form class="search-form">
			<input class="search-input" id="search" type="search" placeholder="Rechercher un produit">
			<button type="submit" class="btn-search"><ion-icon name="search-outline" size="large"></ion-icon></button>
		</form>
	</div>
	<div class="bs-cadre">
		<div class="best-seller">
			<h2 class="hr">NOS BEST-SELLERS</h2>
			<div class="bs-produit flex">
				<a href="/manga/1" class="product" style="background-image: url(/images/cover/onepiece.jpg)">
					<div class="product-footer">
						<div class="product-primary-info">
							<div class="product-info">
								<span class="product-title">One Piece</span>
								<div class="product-subtitle">
									Eiichirō Oda •<span class="product-date">1997</span>
								</div>
							</div>
							<div class="product-price">6.90€</div>
						</div>
						<div class="product-desc">Nous sommes à l’ère des pirates ! Luffy, un garç...</div>
					</div>
				</a>
				<a href="/manga/2" class="product" style="background-image: url(/images/cover/dragonball.jpg)">
					<div class="product-footer">
						<div class="product-primary-info">
							<div class="product-info">
								<span class="product-title">Dragon Ball</span>
								<div class="product-subtitle">
									Akira Toriyama •<span class="product-date">1985</span>
								</div>
							</div>
							<div class="product-price">6.90€</div>
						</div>
						<div class="product-desc">Dans un monde fantastique semblable à la Terre et ...</div>
					</div>
				</a>
				<a href="/manga/3" class="product" style="background-image: url(/images/cover/naruto.jpg)">
					<div class="product-footer">
						<div class="product-primary-info">
							<div class="product-info">
								<span class="product-title">Naruto</span>
								<div class="product-subtitle">
									Masashi Kishimoto •<span class="product-date">1999</span>
								</div>
							</div>
							<div class="product-price">3.00</div>
						</div>
						<div class="product-desc">Naruto est un garçon un peu spécial. Solitaire au ...</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="soldes">
		<div class="texte-soldes">
			<h1>Nos produits soldés</h1>
			<p>Profitez de nos remises exeptionnelles sur des centaines d'articles</p>
		</div>
		<div class="produits-soldes">
			<div class="flex">
				<a href="/manga/1" class="product size" style="background-image: url(/images/cover/onepiece.jpg)">
					<div class="product-footer">
						<div class="product-primary-info">
							<div class="product-info">
								<span class="product-title">One Piece</span>
								<div class="product-subtitle">
									Eiichirō Oda •<span class="product-date">1997</span>
								</div>
							</div>
							<div class="product-price">6.90€</div>
						</div>
						<div class="product-desc">Nous sommes à l’ère des pirates ! Luffy, un garç...</div>
					</div>
				</a>
				<a href="/manga/5" class="product size" style="background-image: url(/images/cover/berserk.jpg)">
					<div class="product-footer">
						<div class="product-primary-info">
							<div class="product-info">
								<span class="product-title">Berserk</span>
								<div class="product-subtitle">
									Kentarō Miura •<span class="product-date">1989</span>
								</div>
							</div>
							<div class="product-price">6.90€</div>
						</div>
						<div class="product-desc">Dans un monde médiéval et fantastique, erre un gue...</div>
					</div>
				</a>
			</div>
			<div class="flex">
				<a href="/manga/4" class="product size" style="background-image: url(/images/cover/fullmetalalchemist.jpg)">
					<div class="product-footer">
						<div class="product-primary-info">
							<div class="product-info">
								<span class="product-title">Fullmetal Alchemist</span>
								<div class="product-subtitle">
									Hiromu Arakawa •<span class="product-date">2001</span>
								</div>
							</div>
							<div class="product-price">6.60€</div>
						</div>
						<div class="product-desc">En voulant ressusciter leur mère, Edward et Alphon...</div>
					</div>
				</a>
				<a href="/manga/15" class="product size" style="background-image: url(/images/cover/pokemon.jpg)">
					<div class="product-footer">
						<div class="product-primary-info">
							<div class="product-info">
								<span class="product-title">Pokémon</span>
								<div class="product-subtitle">
									Asada Miho •<span class="product-date">1997</span>
								</div>
							</div>
							<div class="product-price">9.90€</div>
						</div>
						<div class="product-desc">Nos jeunes héros sont prêts à tout pour devenir le...</div>
					</div>
				</a>
			</div>
		</div>
	</div>
{% endblock %}