{% extends "base.html.twig" %}

{% block title %}Yellow : bienvenue dans l'univers des mangas{% endblock %}
{% block body %}
	<style>
		html {box-sizing: border-box}
		.banner {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 300px;
			background: url(images/banner.jpg) center no-repeat;
			background-size: cover
		}
		.button-accueil {
			display: inline-block;
			padding: 10px 30px;
			border-radius: 10px;
			background-color: var(--primary);
			color: #fff;
			transition-duration: .5s
		}
		{# searchbar #}
		.searchbar {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 30px 0
		}
		form {
			width: 30%;
			position: relative;
			border-radius: 10px
		}
		input, .btn-search {
			height: 80px;
			border: 0;
			color: #000
		}
		input {
			width: 100%;
			padding: 0 25px;
			position: relative;
			outline: 0;
			border-radius: 10px;
			background-color: lightgrey;
			transition-duration: .5s
		}
		.btn-search {
			display: none;
			width: 100px;
			position: absolute;
			top: 0;
			right: 0;
			border-radius: 0 10px 10px 0;
			font-weight: bold;
			background-color: var(--primary)
		}
		input:not(:placeholder-shown) {
			width: calc(100% - 100px);
			border-radius: 10px 0 0 10px
		}
		input:not(:placeholder-shown) + .btn-search {display: block}
		{# best sellers #}
		.bs-cadre {
			padding: 5px;
			background-color: var(--primary)
		}
		.best-seller {
			margin: 5px;
			background-color: #fff
		}
		.flex {
			display: flex;
			justify-content: space-evenly;
			align-items: center
		}
		.cover {width: 150px}
		.text-center {text-align: center}
	</style>
	<div class="banner">
		<a href="/produit">
			<span class="button-accueil">Consulter notre catalogue de manga</span>
		</a>
	</div>
	<div class="searchbar">
		<form>
			<input id="search" type="search" placeholder="Rechercher un produit">
			<button type="submit" class="btn-search">Go</button>
		</form>
	</div>
	<div class="bs-cadre">
		<div class="best-seller">
			<hr>
			<div class="flex">NOS BEST-SELLERS</div>
			<div class="bs-produit flex">
				<div class="text-center">
					<a href="/produit/1">
						<img src="images/cover/onepiece.jpg" class="cover">
					</a>
					<p>One Piece</p>
					<p>6.90€</p>
				</div>
				<div class="text-center">
					<a href="/produit/2">
						<img src="images/cover/dragonball.jpg" class="cover">
					</a>
					<p>Dragon Ball</p>
					<p>6.90€</p>
				</div>
				<div class="text-center">
					<a href="/produit/3">
						<img src="images/cover/naruto.jpg" class="cover">
					</a>
					<p>Naruto</p>
					<p>6.90€</p>
				</div>
			</div>
		</div>
	</div>
	{{app.session.get('id')}}
{% endblock %}