{% extends "base.html.twig" %}

{% block title %}Yellow : bienvenue dans l'univers des mangas{% endblock %}

{% block body %}
<script src="https://kit.fontawesome.com/e85851ea11.js" crossorigin="anonymous"></script>

	<style>
		html {box-sizing: border-box}
		body{background-color: #fff;}
		.banner {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 300px;
			background: url(images/banner.jpg) center no-repeat;
			background-size: cover
		}
		.button-accueil {
			display: inline-block;
			padding: 10px 30px;
			border-radius: 10px;
			background-color: var(--primary);
			color: #fff;
			transition-duration: 0.5s
		}
		.searchbar {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 40px;
			margin-bottom: 40px;
		}
		.search-form {
			width: 30%;
			position: relative;
			border-radius: 10px
		}
		.search-input, .btn-search {
			height: 80px;
			border: 0;
			color: #000
		}
		.search-input {
			width: 100%;
			padding: 0 25px;
			position: relative;
			outline: 0;
			border-radius: 10px;
			background-color: lightgrey;
			transition-duration: 0.5s
		}
		.btn-search {
			display: none;
			width: 100px;
			position: absolute;
			top: 0;
			right: 0;
			border-radius: 0 10px 10px 0;
			font-weight: bold;
			background-color: var(--primary)
		}
		.search-input:not(:placeholder-shown) {
			width: calc(100% - 100px);
			border-radius: 10px 0 0 10px
		}
		.search-input:not(:placeholder-shown) + .btn-search {display: block}

		.bs-cadre {
			padding: 5px;
			background-color: var(--primary)
		}
		.best-seller {
			margin: 5px;
			background-color: #fff;
		}
		.flex {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
		}
		.cover {width: 150px;}

		.text-center {text-align: center}

		.hr {
			align-items: center;
			display: flex;
			text-align: center;
			padding: 20px 0 20px 0;
			color: gray;
		}
		.hr::before, .hr::after {
			border-top: 0.1em solid;
			color: gray;
			content: "";
			flex: 1;
			margin: 0 3em;
		}
		.soldes {
			margin-top: 90px;
			margin-bottom: 90px;
			position: relative;
			display: flex;
			align-items: center;
		}
		.texte-soldes {
			border: 3px solid var(--primary);
			padding: 150px 7vw 150px 4vw;
			width: 35vw;
			margin-left: 20vw;
		}
		.texte-soldes h1 {
			margin-bottom: 40px;
		}
		.texte-soldes p {
			font-size: 20px;
		}
		.produits-soldes {
			background-color: gray;
			width: 50vw;
			padding: 50px 10vw 50px 10vw;
			position: absolute;
			right: 0;
			z-index: -1;
		}
		.cover-soldes {width: 110px}

		.margin {margin-left: 5vw}

		@media (max-width: 800px) {
			.search-form {width: 85%;}

			.hr::before, .hr::after {
				border-top:0;
				margin:0 0;
			}
			.bs-produit {display: block;}
			
			.soldes {
				display: block;
				position: static;
			}
			.produits-soldes {
				position: static;
				margin: auto;
				margin-top: 50px;
				width: 80vw;
			}
			.texte-soldes {
				margin: auto;
				width: 80vw;
				padding-top: 80px;
				padding-bottom: 80px;
			}
			.searchbar {
				margin-top: 50px;
				margin-bottom: 50px;
			}
		}


	</style>
	<div class="banner">
		<a href="{{path('catalog')}}">
			<span class="button-accueil">Consulter notre catalogue de manga</span>
		</a>
	</div>
	<div class="searchbar">
		<form class="search-form">
			<input class="search-input" id="search" type="search" placeholder="Rechercher un produit">
			<button type="submit" class="btn-search"><ion-icon name="search-outline" size="large"></ion-icon></button>
		</form>
	</div>
	<div class="bs-cadre">
		<div class="best-seller">
			<h2 class="hr">NOS BEST-SELLERS</h2>
			<div class="bs-produit flex">
				<div class="text-center">
					<a href="/manga/1">
						<img src="images/cover/onepiece.jpg" class="cover">
					</a>
					<p>One Piece</p>
					<p>6.90€</p>
				</div>
				<div class="text-center">
					<a href="/manga/2">
						<img src="images/cover/dragonball.jpg" class="cover">
					</a>
					<p>Dragon Ball</p>
					<p>6.90€</p>
				</div>
				<div class="text-center">
					<a href="/manga/3">
						<img src="images/cover/naruto.jpg" class="cover">
					</a>
					<p>Naruto</p>
					<p>6.90€</p>
				</div>
			</div>
		</div>
	</div>
	<div class="soldes">
		<div class="texte-soldes">
			<h1>Nos produits soldés</h1>
			<p>Profitez de nos remises exeptionnelles sur des centaines d'articles</p>
		</div>
		<div class="produits-soldes">
			<div class="flex">
				<div class="text-center">
					<a href="/manga/1">
						<img src="images/cover/onepiece.jpg" class="cover-soldes">
					</a>
					<p>One Piece</p>
					<p>6.90€</p>
				</div>
				<div class="text-center margin">
					<a href="/manga/5">
						<img src="images/cover/berserk.jpg" class="cover-soldes">
					</a>
					<p>Berserk</p>
					<p>6.90€</p>
				</div>
			</div>
			<div class="flex">
				<div class="text-center">
					<a href="/manga/4">
						<img src="images/cover/fullmetalalchemist.jpg" class="cover-soldes">
					</a>
					<p>Fullmetal Alchemist</p>
					<p>6.60€</p>
				</div>
				<div class="text-center margin">
					<a href="/manga/15">
						<img src="images/cover/pokemon.jpg" class="cover-soldes">
					</a>
					<p>Pokemon</p>
					<p>9.90€</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}