{% extends "base.html.twig" %}

{% block title %}Modifier une commande • Yellow{% endblock %}
{% block body %}
	<main>
		<h1>Modifier la commande</h1>
		<!-- Actions -->
		<div class="actions">
			<!-- Back to order list -->
			<a href="{{path('order-list')}}" class="back">
				<ion-icon name="chevron-back-outline"></ion-icon>
				Retour à la liste
			</a>
		</div>
		<!-- Order form -->
		{{form(form)}}
	</main>
{% endblock %}