{% extends 'base.html.twig' %}

{% block title %}Connexion • Yellow{% endblock %}

{% block body %}
<style>
</style>

<h1>Connexion</h1>  

<div class="example-wrapper">
Identifiant :</br>
<input></p>
Mot de passe : </br>
<input></P>
<button>Se connecter</button>
<a href="{{path('welcome')}}"">S'inscrire</a>
</div>
{% endblock %}
