/* Account page */

/* Custom page title */
h1 {
	display: flex;
	justify-content: space-between;
	border-bottom: none
}

/* Account container & inner sections */

.account-container {
	display: flex;
	flex-direction: column;
	align-items: center
}

.account-section {
	width: 700px;
	margin-top: 20px;
	padding: 8px 12px;
	border-radius: 8px;
	background-color: rgba(245, 201, 67, .2)
}

/* Account section subtitle */
h2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;
	border-bottom: none
}

/* Open edit form button */
.open-edit-account-form {
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-size: 16px;
	transition-duration: .2s
}
.open-edit-account-form:hover {
	opacity: .65;
	text-decoration: underline
}

/* Edit account form */
#edit-account-form {
	display: flex;
	flex-direction: column;
	align-items: space-between
}

/* Input containers */

.editable-input-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 4px;
	padding: 4px 8px;
	border-radius: 8px;
	color: #000;
	font-size: 18px;
	transition-duration: .2s
}
.editable-input-container.editable {
	margin-bottom: 6px;
	background-color: rgba(0, 0, 0, .05);
	color: var(--secondary)
}

.editable-input-container input {
	flex-grow: 1;
	margin-left: 4px;
	outline: none;
	border: none;
	background-color: transparent;
	color: #000;
	text-align: right;
	font-size: 18px;
	transition-duration: .2s
}
.editable-input-container.editable input {color: var(--secondary)}

/* Form actions */

#edit-account-form .actions {
	display: none;
	justify-content: end
}

#edit-account-form .actions button {
	padding: 8px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-size: 16px;
	transition-duration: .2s
}
#edit-account-form .actions button.cancel-changes {color: var(--error)}
#edit-account-form .actions button.apply-changes {color: var(--success)}
#edit-account-form .actions button:hover {
	opacity: .65;
	text-decoration: underline
}