/* Catalog container */
.catalog-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly
}

/* Product container */
.product {
	width: 280px;
	height: 400px;
	margin: 30px 40px;
	position: relative;
	overflow: hidden;
	border-radius: 8px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 105%;
	transition-duration: .4s
}
.product:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, .1), inset 0 0 0 999px rgba(0, 0, 0, .1);
	background-size: 100%;
	-webkit-filter: brightness(.9);
	filter: brightness(.9)
}
.product:active {
	box-shadow: 0 10px 20px rgba(0, 0, 0, .1), inset 0 0 0 999px rgba(0, 0, 0, .2);
	-webkit-filter: brightness(.8);
	filter: brightness(.8);
	-webkit-transform: scale(.95);
	transform: scale(.95);
	transition-duration: .1s
}

/* Product footer (more informations) */
.product-footer {
	padding: 4px 8px;
	right: 0;
	bottom: -150px;
	left: 0;
	position: absolute;
	backdrop-filter: blur(20px);
	background-color: rgba(255, 255, 255, .65);
	text-align: left;
	transition-duration: .4s
}
.product:hover .product-footer {bottom: 0}

/* Product primary information */
.product-primary-info {
	display: flex;
	justify-content: space-between
}

/* Product title */
.product-title {font-size: 20px}

/* Product author/date */
.product-subtitle {
	display: flex;
	margin: 4px 0;
	opacity: .65;
	font-size: 16px
}

/* Product date */
.product-date {margin-left: 3px}

/* Product price */
.product-price {
	padding-left: 8px;
	opacity: .9;
	font-size: 24px
}

/* Short product description */
.product-desc {
	overflow: hidden;
	opacity: .65;
	text-overflow: ellipsis;
	font-size: 15px;
	font-style: italic;
	white-space: nowrap
}

/* Icones next et previous paginator */
ion-icon{
	font-size: 30px;
  width: 50px;
}

.page-container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	font-size: 20px;
}

.page{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product{
	box-shadow: 1px 1px 8px grey;
}

.no-result {
	opacity: .65;
	font-size: 18px
}