main.login {
	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
	height: 70vh;
}
main.signup {
	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
	height: 110vh;
}

/* Page title */
h1 {text-align: center}

/* Form */
form {margin-bottom: 20px}

/* Connection redirection link */
.connection-redirection a {transition-duration: .2s}
.connection-redirection a:hover {
	opacity: .65;
	text-decoration: underline
}

/* Media queries */
@media screen and (max-height: 875px){
	main.login {height: 120vh}
	main.signup {height: 160vh}
}
@media screen and (max-width: 450px){
	.cloud{display:none}
	main.login {height: 120vh}
	main.signup {height: 160vh}
}
@media screen and (max-height: 500px){
	main.login {height: 150vh}
	main.signup {height: 220vh}
	.cloud{display:none}
}