main.login {
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	height: 70vh;
}
@media screen and (max-height: 475px) {
	main.login {
		height: 120vh;
	}
}
main.signup {
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
}

/* Page title */
h1 {text-align: center}

/* Form */
form {margin-bottom: 20px}

/* Connection redirection link */
.connection-redirection a {transition-duration: .2s}
.connection-redirection a:hover {
	opacity: .65;
	text-decoration: underline
}