.form-error-alert {
	display: none;
	margin-bottom: 14px;
	padding: 10px;
	border: 1px solid var(--error-border);
	border-radius: 8px;
	background-color: var(--error);
	color: var(--error-border)
}

.form-error-alert .error-icon {
	margin-right: 8px;
	font-size: 30px
}

.form-error-alert .error-content {
	display: flex;
	flex-direction: column
}

.form-error-alert .error-title {font-size: 20px}

.form-error-alert .error-subtitle {
	opacity: .7;
	font-size: 16px
}