/* Inputs & textareas */

input, textarea {
	display: block;
	width: 100%;
	margin-bottom: 16px;
	padding: 8px;
	outline: none;
	border: 1px solid rgba(245, 201, 67, .4);
	border-radius: 4px;
	background-color: rgba(245, 201, 67, .1);
	font-size: 17px;
	transition: border-color .2s
}
input:focus, textarea:focus {border-color: var(--primary)}

.form-container{
	box-shadow: 1px 2px 10px;
    padding: 40px;
    border-radius: 10px;
	background-color: #ffffff;
	z-index: 2;
}

.form-header{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.cloud{
	position: absolute;
	z-index:0;
}

.c1{
	top: 10%;
    left: 75%;
}
.c2{
	top: 25%;
    left: 15%;
}
.c3{
	top: 50%;
    left: 25%;
}
.c4{
	top: 65%;
    left: 50%;
}
.c5{
	top: 40%;
    left: 80%;
}
.c6{
	top: 30%;
    left: 70%;
}
.c7{
	top: 10%;
    left: 20%;
}

.form-logo{
	width: 80px;
	border-radius:10px;
}

textarea {
	min-height: 100px;
	height: 150px;
	max-height: 300px;
	resize: vertical
}

/* Input labels */
label {
	display: block;
	margin-bottom: 4px;
	color: var(--primary);
	font-size: 16px
}

/* Form submit button */

form #submit, form button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 8px 0;
	border: none;
	border-radius: 8px;
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
	font-size: 17px;
	transition-duration: .2s
}
form #submit:hover, form button:hover {color: #000}
form #submit:active, form button:active {
	-webkit-transform: scale(.9);
	transform: scale(.9);
	transition-duration: .1s
}

form #submit ion-icon, form button ion-icon {
	margin-left: 8px;
	font-size: 20px
}

/* Required fields paragraph */
.required-fields {
	margin-bottom: 20px;
	opacity: .65;
	font-size: 16px;
	font-style: italic
}