html {box-sizing: border-box}

body {background-color: #FFF}

.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	background: url(../images/banner.jpg) center no-repeat;
	background-size: cover
}
.button-accueil {
	display: inline-block;
	padding: 10px 30px;
	border-radius: 10px;
	background-color: var(--primary);
	color: #fff;
	transition-duration: 0.5s
}
.searchbar {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 40px;
	margin-bottom: 40px;
}
.search-form {
	width: 30%;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
}

.search-input, .btn-search {
	height: 80px;
	border: 0;
	color: #000;
	transition-duration: 0.5s;
}
.search-input {
	width: 100%;
	padding: 0 25px;
	position: relative;
	outline: 0;
	border-radius: 10px;
	background-color: lightgrey;
}



.btn-search {
    width: 100px;
	position: absolute;
	top: 0;
	right: -100px;
	border-radius: 0 10px 10px 0;
	font-weight: bold;
	background-color: var(--primary);
	cursor: pointer;
}
.search-input:focus {
    width: calc(100% - 100px);
	border-radius: 10px 0 0 10px;
	transition-duration: 0.5s;
}

.search-input:focus + .btn-search {
    right:0;
	transition-duration: 0.5s;
	display: block;
}

.bs-cadre {
    padding: 5px;
	background-color: var(--primary)
}
.best-seller {
    margin: 5px;
	background-color: #fff;
}
.flex {
    display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.cover {width: 150px;}

.text-center {text-align: center}

.hr {
    align-items: center;
	display: flex;
	text-align: center;
	padding: 20px 0 20px 0;
	color: gray;
}
.hr::before, .hr::after {
    border-top: 0.1em solid;
	color: gray;
	content: "";
	flex: 1;
	margin: 0 3em;
}
.soldes {
    margin-top: 90px;
	margin-bottom: 90px;
	position: relative;
	display: flex;
	align-items: center;
}
.texte-soldes {
    border: 3px solid var(--primary);
	padding: 150px 7vw 150px 4vw;
	width: 35vw;
	margin-left: 10%;
	z-index: 1;
	border-radius:10px;
}
.texte-soldes h1 {
    margin-bottom: 40px;
}
.texte-soldes p {
    font-size: 20px;
}
.produits-soldes {
    width: 50vw;
	padding: 50px 5vw 50px 5vw;
	position: absolute;
	right: 0;
	margin-right:10%;
	border-radius: 10px;
	background: linear-gradient(#ffce0059,#2222228f);
}
.cover-soldes {width: 110px}

.margin {margin-left: 5vw}

.product {margin-bottom: 35px;}

.size{width: 150px;
	height: 200px;
}

@media (max-width: 1050px) {
    .search-form {width: 85%;}
    
    .flex {
        flex-direction:column;
    }
    .hr::before, .hr::after {
        border-top:0;
        margin:0 0;
    }
    .bs-produit {
        display: block;
        text-align: center;
    }
    
	.soldes {
        display: block;
		position: static;
	}
	.produits-soldes {
        position: static;
		margin: auto;
		margin-top: 50px;
		width: 80vw;
	}
	.texte-soldes {
        margin: auto;
		width: 80vw;
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.searchbar {
        margin-top: 50px;
		margin-bottom: 50px;
	}
}

@media (max-width: 400px) {
    .product{
        width: 100px;
        height: 150px;
    }
}
@media (max-width: 400px){
    .btn-search{
        width:50px;
        right:-50px;
    }
    .search-input:focus{
        width:calc(100% - 20px);
    }
    .search-input, .btn-search {
        height: 50px;
    }
    .search-input:focus {
        width: calc(100% - 50px);
    }
}