a {
	display: inline-block;
	color: #000;
	text-decoration: none;
	transition-duration: .2s
}

/* Back to catalog link */

.back {
	display: inline-flex;
	align-items: center;
	padding: 20px 0;
	color: #000;
	font-size: 18px
}
.actions .back {padding: 10px 0}
.back:hover {
	opacity: .65;
	text-decoration: underline
}

.back ion-icon {margin-right: 4px}

/* Disconnection link */

.disconnect {
	display: inline-flex;
	align-items: center;
	padding: 8px 12px;
	border-radius: 8px;
	color: var(--error);
	font-size: 18px
}
.disconnect:hover {background-color: var(--error-light)}
.disconnect:active {
	-webkit-transform: scale(.9);
	transform: scale(.9);
	transition-duration: .1s
}

.disconnect ion-icon {
	margin-right: 4px;
	font-size: 22px
}

/* Add row link */

.add-row {
	display: inline-flex;
	align-items: center;
	color: var(--success);
	font-size: 18px
}
.add-row:hover {
	opacity: .65;
	text-decoration: underline
}

.add-row ion-icon {
	margin-right: 4px;
	font-size: 22px
}