@import url(/fonts/fonts.css);
@import url(header.css);
@import url(footer.css);
@import url(link.css);
@import url(titles.css);
@import url(form.css);
@import url(formErrorAlert.css);
@import url(required-fields.css);
@import url(login.css);

/* Colors (border colors are a brighter variant of background colors) */
:root {
	--primary: #F5C943; /* Light yellow */
	--secondary: #7A6421; /* Light brown (based on primary) */
	--error-light: rgba(171, 46, 70, .3);
	--error: #AB2E46;
	--info-light: rgba(84, 120, 228, .3);
	--info: #5478E4;
	--success-light: rgba(57, 172, 72, .3);
	--success: #39AC48;
	--warning-light: rgba(255, 193, 7, .3);
	--warning: #FFC107
}

* {
	margin: 0;
	padding: 0;
	font-family: Coolvetica, Arial, sans-serif;
	font-weight: normal
}

body {background-color: var(--primary)}

main {
	padding: 0 20px 60px 20px;
	background-color: #FFF
}