/* Product container (product page) */

.product-container {
	display: flex;
	flex-direction: row;
	justify-content: center
}

.blank {height: 20px}

/* Product cover */

.cover {
	display: flex;
	justify-content: center;
	margin-right: 2%;
	position: relative
}

.cover img {
	height: 650px;
	border-radius: 8px;
	z-index: 0
}

/* Product informations */

.informations {
	width: 400px;
	margin-left: 2%;
	margin-top: 50px
}

/* Product title/price & action container */

.title, .actions {
	display: flex;
	justify-content: space-between;
	align-items: center
}

/* Product price (into title) */
.product-price {
	opacity: .9;
	font-size: 28px
}

/* Product stock */
.product-stock {font-size: 20px}
.valid {color: var(--success)}
.invalid {color: var(--error)}

/* Add to basket link */

.add-to-basket {
	display: flex;
	align-items: center;
	padding: 8px 12px;
	border-radius: 8px;
	background-color: #000;
	color: #FFF;
	font-size: 18px;
	transition-duration: .2s
}
.add-to-basket:hover {
	opacity: .8;
	box-shadow: 0 4px 8px rgba(0, 0, 0, .3)
}
.add-to-basket:active {
	opacity: .65;
	-webkit-transform: scale(.95);
	transform: scale(.95);
	transition-duration: .1s
}

.add-to-basket ion-icon {
	margin-right: 6px;
	font-size: 22px
}

/* Product author/date */
.product-author {
	opacity: .65;
	font-size: 16px
}

/* Product category */

.product-category {
	opacity: .65;
	font-size: 16px;
	font-style: italic
}

.product-category span {text-transform: uppercase}

.product-category a:hover {text-decoration: underline}

/* Product description */
.product-desc {
	margin-top: 10px;
	font-size: 17px
}

/* Media queries */

@media screen and (max-width: 1000px) {
	.product-container {flex-direction: column}
	.cover::before {
		content: "";
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		position: absolute;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		-webkit-filter: blur(20px);
		filter: blur(20px)
	}
	.informations {
		width: auto;
		margin-left: 0
	}
}

@media screen and (max-width: 600px) {
	.cover img {height: 450px}
}