/* Searchbar */

.search-container {
	display: flex;
	justify-content: center;
	margin: 0 8px
}

.search-form {
	width: 300px;
	margin: 8px 0;
	position: relative;
	overflow: hidden
}
.search-container .search-form {width: 500px}

#search-bar {
	width: 100%;
	padding: 8px;
	position: relative;
	outline: 0;
	border: 1px solid #BBB;
	border-radius: 6px;
	background-color: #DDD;
	font-size: 16px;
	transition-duration: .5s
}
#search-bar:focus {border-color: #888}

#btn-search {
	top: 0;
	right: -100px;
	bottom: 0;
	position: absolute;
	border: none;
	background-color: transparent;
	cursor: pointer;
	transition-duration: .5s
}
#search-bar:focus + #btn-search {right: 0}

#btn-search ion-icon {
	opacity: .5;
	font-size: 24px
}

/* Media queries */

@media screen and (max-width: 500px) {
	.search-form {
		width: 100%;
	}
}