{% extends "base.html.twig" %}

{% block title %}Yellow : bienvenue dans l'univers des mangas{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1>HOMEPAGE TEST</h1>
	</div>
{% endblock %}