{% extends "base.html.twig" %}

{% block title %}Options d'administration • Yellow{% endblock %}
{% block body %}
	<link rel="stylesheet" href="/css/admin.css">
	<main>
		<h1>Options d'administration</h1>
		<ul class="settings-list">
			<li>
				<a href="{{path('customer-list')}}">Gestion des utilisateurs</a>
			</li>
			<li>
				<a href="{{path('order-list')}}">Gestion des commandes</a>
			</li>
			<li>
				<a href="{{path('product-list')}}">Gestion des produits</a>
			</li>
		</ul>
	</main>
{% endblock %}