{% extends 'base.html.twig' %}

{% block title %}Gestion des produits
{% endblock %}

{% block body %}
	<style></style>

	<div class="example-wrapper">
		<h1>Gestion des produits</h1>
		<table>
			<thead>
				<tr>
					<th colspan="1">Nom du produit</th>
                    <th colspan="1">catégorie du produit</th>
					<th colspan="1">Prix</th>
				</tr>
			</thead>
			<tbody>
                {%for product in products %}
				<tr>
                    <td>{{product.ProductName}}</td>
                                        <td>{{product.ProductName}}</td>

				</tr>
			{% endfor %}
			</tbody>
		</table>
		<ul class="list group">
			{%for product in products %}
				<li class"list-group-item list-group-item-action">
					{{product.ProductName}}
				</li>
			{% endfor %}
		</ul>

	</div>
{% endblock %}
