{% extends "base.html.twig" %}

{% block title %}Gestion des clients{% endblock %}
{% block body %}
	<main>
		<h1>Gestion des clients</h1>
		<button type="submit">
			<a href="{{path('manageCustomerNew')}}">Ajouter un client</a>
		</button>
		<div>
			{%for customer in customers %}
				<ul>
					<li>
						<a href="{{path('manageCustomerId',{id:customer.id})}}">{{customer.customerLastName}}</a>
						~
						{{customer.customerFirstName}}</li>
				</ul>
			{% endfor %}
		</div>
	</main>
{% endblock %}