{% extends "base.html.twig" %}

{% block title %}Nos mangas • Yellow{% endblock %}
{% block body %}
	<link rel="stylesheet" href="/css/catalog.css">
	<main>
		<h1>Catégorie : </h1>
	</main>
{% endblock %}