{% extends "base.html.twig" %}

{% block title %}Gestion des Produits{% endblock %}

{% block body %}
<style>
</style>

<div class="example-wrapper">
    <h1>gestion des produits</h1>
    {{form(form_Product)}}

</div>
{% endblock %}