{% extends "base.html.twig" %}

{% block title %}Gestion des commandes
{% endblock %}

{% block body %}
	<main>
		<h1>Gestion des commandes</h1>
		<div>
			{% for order in orders %}

				<ul>
					<li>
						<a href="">{{order.id}}</a>
						~
						{{order.orderContent}}
						~
						{{order.Date}}
						~	
						{{order.basket.customer.id}}					
						</li>
				</ul>
			{% endfor %}

		</div>
	</main>
{% endblock %}