{% extends "base.html.twig" %}

{% block title %}Connexion • Yellow{% endblock %}
{% block body %}
	<link rel="stylesheet" href="/css/form.css">
	<link rel="stylesheet" href="/css/connection.css">
	<script src="/js/form-error.js"></script>
	<main class="login">
	<div class="cloud c1">
	<img class="form-logo" src="/images/background.png" alt="Logo">
	</div>
	<div class="cloud c2">
	<img class="form-logo" src="/images/background.png" alt="Logo">
	</div>
	<div class="cloud c3">
	<img class="form-logo" src="/images/background.png" alt="Logo">
	</div>
	<div class="cloud c4">
	<img class="form-logo" src="/images/background.png" alt="Logo">
	</div>
	<div class="cloud c5">
	<img class="form-logo" src="/images/background.png" alt="Logo">
	</div>
	<div class="cloud c6">
	<img class="form-logo" src="/images/background.png" alt="Logo">
	</div>
	<div class="cloud c7">
	<img class="form-logo" src="/images/background.png" alt="Logo">
	</div>
		<div class="form-container">
		<div class="form-header">
			<img class="form-logo" src="/favicon.ico" alt="Logo">
			<h2>Yellow Manga</h2>
		</div>
			<h1>Connexion</h1>
			<!-- Form error alert -->
			<div class="form-error-alert">
				<ion-icon name="alert-circle-outline" class="error-icon"></ion-icon>
				<span class="error-content">
					<span class="error-title"></span>
					<span class="error-subtitle"></span>
				</span>
			</div>
			<!-- Login form -->
			{{form(form)}}
			<!-- Connection redirection -->
			<p class="connection-redirection">
				Vous n'avez pas encore de compte ?
				<a href="{{path('signup')}}">Inscrivez-vous</a>
			</p>
		<div>
	</main>
	<script>
		{% if loginError == 1 %}
			displayFormError("Impossible de se connecter", "Veuillez vérifier vos identifiants de connexion.")
		{% endif %}
		// Select form elements
		const login = {
				form: document.querySelector("form[name='login_form']"),
				get email() {return this.form.querySelector("#login_form_customer_email")},
				get password() {return this.form.querySelector("#login_form_customer_password")}
			};
		// Clean up fields
		login.email.value = "";
		login.password.value = "";
		login.form.addEventListener("submit", e => {
			e.preventDefault();
			// Clear form error container
			clearFormError();
			// Form check-up
			if (/^\s*$/.test(login.email.value) || /^\s*$/.test(login.password.value)) {
				// Empty field(s)
				displayFormError("Champs non renseignés", "Veuillez renseigner tous les champs du formulaire.")
			} else login.form.submit()
		})

		window.addEventListener('mousemove', onMouseMove);

		const clouds = document.querySelectorAll('.cloud')

		function onMouseMove(e) {
			const pouet = (e.clientX - window.innerWidth / 2) / window.innerWidth;
			const pit = (e.clientY - window.innerHeight / 2) / window.innerHeight;

			clouds.forEach((cloud,i) => {
				cloud.style.transform = `translate3d(calc(${pouet*(i+1)} * -1vw), calc(${pit*(i+1)} * -1vh), 0)`;
			})
				
		}
	</script>
{% endblock %}