{% extends "base.html.twig" %}

{% block title %}Connexion • Yellow{% endblock %}
{% block body %}
<link rel="stylesheet" href="/css/form-login.css">
	<script src="/js/formError.js"></script>
	<main class="login-container">
		<h1>Connexion</h1>
		<div class="form-error-alert">
			<ion-icon name="alert-circle-outline" class="error-icon"></ion-icon>
			<span class="error-content">
				<span class="error-title"></span>
				<span class="error-subtitle"></span>
			</span>
		</div>
		<div class="login-container">
			<span class="required-fields">Les champs marqués d'un * sont obligatoires.</span>
			{{form(form)}}
			<p>
				Vous n'avez pas encore de compte ?
				<a href="{{path('signup')}}">Inscrivez-vous</a>
			</p>
		<div>
	</main>
	<script>
		{% if loginError == 1 %}
			displayFormError("Impossible de se connecter", "Veuillez vérifier vos identifiants de connexion.")
		{% endif %}
		// Select form elements
		const login = {
				form: document.querySelector("form[name='login_form']"),
				get email() {return this.form.querySelector("#login_form_customer_email")},
				get password() {return this.form.querySelector("#login_form_customer_password")}
			},
			formError = document.querySelector(".form-error");
		// Clean up fields
		login.email.value = "";
		login.password.value = "";
		login.form.addEventListener("submit", e => {
			e.preventDefault();
			// Clear form error container
			clearFormError();
			// Form check-up
			if (/^\s*$/.test(login.email.value) || /^\s*$/.test(login.password.value)) {
				// Empty field(s)
				displayFormError("Champs non renseignés", "Veuillez renseigner tous les champs du formulaire.")
			} else login.form.submit()
		})
	</script>
{% endblock %}