{% extends "base.html.twig" %}

{% block title %}Inscription • Yellow{% endblock %}
{% block body %}
	<link rel="stylesheet" href="/css/form.css">
	<link rel="stylesheet" href="/css/connection.css">
	<script src="/js/formError.js"></script>
	<main>
		<div class="form-container">
			<h1>Inscription</h1>
			<!-- Form error alert -->
			<div class="form-error-alert">
				<ion-icon name="alert-circle-outline" class="error-icon"></ion-icon>
				<span class="error-content">
					<span class="error-title"></span>
					<span class="error-subtitle"></span>
				</span>
			</div>
			<!-- Signup form -->
			{{form(form)}}
			<!-- Connection redirection -->
			<p class="connection-redirection">
				Vous avez déjà un compte ?
				<a href="{{path('login')}}">Connectez-vous</a>
			</p>
		</div>
	</main>
	<script>
		{% if signupError == 1 %}
			displayFormError("E-mail déjà utilisé", "Veuillez renseigner un autre e-mail.")
		{% endif %}
		// Select form elements
		const signup = {
				form: document.querySelector("form[name='signup_form']"),
				get first_name() {return this.form.querySelector("#signup_form_customer_first_name")},
				get last_name() {return this.form.querySelector("#signup_form_customer_last_name")},
				get email() {return this.form.querySelector("#signup_form_customer_email")},
				get phone() {return this.form.querySelector("#signup_form_customer_phone")},
				get password() {return this.form.querySelector("#signup_form_customer_password")},
				get address() {return this.form.querySelector("#signup_form_customer_address")},
				get post_code() {return this.form.querySelector("#signup_form_customer_post_code")},
				get city() {return this.form.querySelector("#signup_form_customer_city")}
			},
			expr = {
				first_name: /^[A-Za-zÀ-ú- ]+$/,
				last_name: /^[A-Za-zÀ-ú- ]+$/,
				email: /^[\w-]+@[\w-]+\.[\w-]{2,}$/,
				phone: /^0\d{9}$/,
				password: /^.{8,}$/,
				address: /^[\wÀ-ú- ]+$/,
				post_code: /^\d{5}$/,
				city: /^[A-Za-zÀ-ú- ]+$/,
				blank: /^\s*$/
			},
			validation = {
				first_name: false,
				last_name: false,
				email: false,
				phone: false,
				password: false,
				address: false,
				post_code: false,
				city: false
			};
		// Clean up fields
		signup.first_name.value = "";
		signup.last_name.value = "";
		signup.email.value = "";
		signup.phone.value = "";
		signup.password.value = "";
		signup.address.value = "";
		signup.post_code.value = "";
		signup.city.value = "";
		signup.form.addEventListener("submit", e => {
			e.preventDefault();
			// Clear form error container
			clearFormError();
			// City check-up
			if (!expr.city.test(signup.city.value)) {
				// Invalid city
				validation.city = false;
				displayFormError("Champ invalide", "Veuillez renseigner une ville correcte.")
			} else validation.city = true;
			// Post code check-up
			if (!expr.post_code.test(signup.post_code.value)) {
				// Invalid post code
				validation.post_code = false;
				displayFormError("Champ invalide", "Veuillez renseigner un code postal correct.")
			} else validation.post_code = true;
			// Address check-up
			if (!expr.address.test(signup.address.value)) {
				// Invalid address
				validation.address = false;
				displayFormError("Champ invalide", "Veuillez renseigner une adresse postale correcte.")
			} else validation.address = true;
			// Password check-up
			if (!expr.password.test(signup.password.value)) {
				// Weak password
				validation.password = false;
				displayFormError("Mot de passe faible", "Veuillez entrer un mot de passe d'au moins 8 caractères.")
			} else validation.password = true;
			// Phone check-up
			if (expr.phone.test(signup.phone.value) || expr.blank.test(signup.phone.value)) validation.phone = true;
			else {
				// Invalid phone
				validation.phone = false;
				displayFormError("Numéro de téléphone invalide", "Les espaces ne sont pas demandés.")
			}
			// Email check-up
			if (!expr.email.test(signup.email.value)) {
				// Invalid email
				validation.email = false;
				displayFormError("E-mail invalide", "L'e-mail que vous avez rentré est invalide.")
			} else validation.email = true;
			// Last name check-up
			if (!expr.last_name.test(signup.last_name.value)) {
				// Invalid last name
				validation.last_name = false;
				displayFormError("Champ invalide", "Veuillez renseigner une valeur alphabétique dans le nom.")
			} else validation.last_name = true;
			// First name check-up
			if (!expr.first_name.test(signup.first_name.value)) {
				// Invalid first name
				validation.first_name = false;
				displayFormError("Champ invalide", "Veuillez renseigner une valeur alphabétique dans le prénom.")
			} else validation.first_name = true;
			// Empty fields check-up
			if (
				expr.blank.test(signup.first_name.value) ||
				expr.blank.test(signup.last_name.value) ||
				expr.blank.test(signup.email.value) ||
				expr.blank.test(signup.password.value) ||
				expr.blank.test(signup.address.value) ||
				expr.blank.test(signup.post_code.value) ||
				expr.blank.test(signup.city.value)
			) {
				// At least one empty required field
				displayFormError("Champs non renseignés", "Veuillez renseigner les champs requis du formulaire.")
			}
			// Last check-up and form submit
			if (
				validation.first_name &&
				validation.last_name &&
				validation.email &&
				validation.phone &&
				validation.password &&
				validation.address &&
				validation.post_code &&
				validation.city
			) {
				// Submit form
				signup.form.submit()
			}
		})
	</script>
{% endblock %}