{% extends "base.html.twig" %}

{% block title %}Panier • Yellow{% endblock %}

{% block body %}
	<main>
		<h1>Panier</h1>
		<div class="basket-container">
			<div class="basket">
				Basket
			</div>
			<div class="validate-basket">Passer commande</div>
		</div>
	</main>
{% endblock %}