{% extends "base.html.twig" %}

{% block title %}Modifier un client • Yellow{% endblock %}
{% block body %}
	<main>
		<h1>Modifier le client</h1>
		<!-- Actions -->
		<div class="actions">
			<!-- Back to customer list -->
			<a href="{{path('customer-list')}}" class="back">
				<ion-icon name="chevron-back-outline"></ion-icon>
				Retour à la liste
			</a>
		</div>
		<!-- Customer form -->
		{{form(form)}}
	</main>
{% endblock %}